Django>=3.2,<5.2
python-dotenv
dj-database-url
whitenoise
Pillow
psycopg2-binary
gunicorn
sqlparse>=0.4.0
asgiref>=3.3.0
pymysql
# Comentado hasta que se pueda instalar correctamente
# libsql-experimental==0.1.2